Repository arhat-dev/template-kubernetes-controller, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, apis, controller, ci, cd, e2e, dependency

.github/labeler.yml:

docs:
- any:
  - docs/**
  - README.md

apis:
- any:
  - pkg/apis/**

controller:
- any:
  - pkg/controller/**
  - cmd/**

ci:
- any:
  - .github/**
  - cicd/gitlab/**

cd:
- any:
  - cicd/deploy/**
  - cicd/docker/**

e2e:
- any:
  - e2e/**

dependency:
- any:
  - go.mod
  - go.sum
  - vendor/**

Update build scripts
  scripts/build/build.sh
  scripts/build/common.sh
  scripts/build/template-kubernetes-controller.mk
Labels: none

Update image build scripts
  scripts/image/build.sh
  scripts/image/common.sh
  scripts/image/push.sh
  scripts/image/template-kubernetes-controller.mk
Labels: none

Add lint
  Makefile
Labels: none

Add gitlab ci config and update ci pipelines
  .github/workflows/ci.yaml
  .gitignore
  .gitlab-ci.yml
  cicd/docker/template-kubernetes-controller.linux.dockerfile
  cicd/docker/template-kubernetes-controller.windows.dockerfile
  cicd/gitlab/build-images.yaml
  cicd/gitlab/e2e-tests.yaml
  cicd/gitlab/stylecheck.yaml
  cicd/gitlab/unit-tests.yaml
  pkg/version/cmd.go
  pkg/version/version.go
Labels: none

Fix github e2e tests
  .github/workflows/ci.yaml
Labels: none

Update golangci lint to ignore vendor dir
  .golangci.yml
Labels: none

Add dockerized lint
  .github/workflows/ci.yaml
  .github/workflows/label.yaml
  .gitlab-ci.yml
  .yaml-lint.yml
  Makefile
  cicd/deploy/charts/template-kubernetes-controller/values.yaml
  cicd/gitlab/stylecheck.yaml
  e2e/kind/v1-16.yaml
  e2e/kind/v1-17.yaml
  e2e/kind/v1-18.yaml
  scripts/build/build.sh
  scripts/gen/codegen.sh
  scripts/lint.mk
Labels: e2e

Fix go files according to editorconfig-checker
  .pre-commit-config.yaml
  cmd/template-kubernetes-controller/pkg/cmd.go
  pkg/apis/addtoscheme_samplecrd_v1alpha1.go
  pkg/apis/apis.go
  pkg/apis/doc.go
  pkg/apis/samplecrd/generated/clientset/versioned/clientset.go
  pkg/apis/samplecrd/generated/clientset/versioned/doc.go
  pkg/apis/samplecrd/generated/clientset/versioned/fake/clientset_generated.go
  pkg/apis/samplecrd/generated/clientset/versioned/fake/doc.go
  pkg/apis/samplecrd/generated/clientset/versioned/fake/register.go
  pkg/apis/samplecrd/generated/clientset/versioned/scheme/doc.go
  pkg/apis/samplecrd/generated/clientset/versioned/scheme/register.go
  pkg/apis/samplecrd/generated/clientset/versioned/typed/samplecrd/v1alpha1/doc.go
  pkg/apis/samplecrd/generated/clientset/versioned/typed/samplecrd/v1alpha1/fake/doc.go
  pkg/apis/samplecrd/generated/clientset/versioned/typed/samplecrd/v1alpha1/fake/fake_foo.go
  pkg/apis/samplecrd/generated/clientset/versioned/typed/samplecrd/v1alpha1/fake/fake_samplecrd_client.go
  pkg/apis/samplecrd/generated/clientset/versioned/typed/samplecrd/v1alpha1/foo.go
  pkg/apis/samplecrd/generated/clientset/versioned/typed/samplecrd/v1alpha1/generated_expansion.go
  pkg/apis/samplecrd/generated/clientset/versioned/typed/samplecrd/v1alpha1/samplecrd_client.go
  pkg/apis/samplecrd/generated/informers/externalversions/factory.go
  pkg/apis/samplecrd/generated/informers/externalversions/generic.go
  pkg/apis/samplecrd/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/apis/samplecrd/generated/informers/externalversions/samplecrd/interface.go
  pkg/apis/samplecrd/generated/informers/externalversions/samplecrd/v1alpha1/foo.go
  pkg/apis/samplecrd/generated/informers/externalversions/samplecrd/v1alpha1/interface.go
  pkg/apis/samplecrd/generated/listers/samplecrd/v1alpha1/expansion_generated.go
  pkg/apis/samplecrd/generated/listers/samplecrd/v1alpha1/foo.go
  pkg/apis/samplecrd/v1alpha1/doc.go
  pkg/apis/samplecrd/v1alpha1/types.go
  pkg/apis/samplecrd/v1alpha1/zz_generated.deepcopy.go
  pkg/conf/util.go
  pkg/version/cmd.go
  pkg/version/version.go
  scripts/gen/boilerplate.go.txt
Labels: apis

Fix build scripts
  scripts/build/build.sh
Labels: none

Add missing copyright
  cmd/template-kubernetes-controller/main.go
  pkg/conf/template-kubernetes-controller.go
  pkg/constant/context.go
  pkg/constant/defaults.go
  pkg/controller/samplecrd/controller.go
Labels: none

Fix common build scripts
  scripts/build/common.sh
Labels: none

Switch to github container registry
  .github/workflows/ci.yaml
  Makefile
Labels: none
